.carousel-item{
    background-color: #fceae8;
    border-radius: 10px;
}
.btn-buy{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
.price{
    color: #FF136F;;
}

.category img{
    height: 80px;
}

.card-border{
    border: 0 !important;
}
.info{
    background-color: white!important;
}
.contact{
    background-color: #fceae8;
    border-radius: 10px;
}
